.navTitle .x-panel-body{
    background: url("../imgs/titlebg.png") repeat-x;
}

.navTitle .x-unselectable .x-btn-inner{
    color: #fff;
}

.navTitle .x-btn-pressed .x-btn-inner{
    color: #297fb8;
}

.navTitle .x-btn.x-unselectable{
    background: url("../imgs/unselectBtn.png") no-repeat;
}

.navTitle .x-btn.x-btn-pressed{
    background: url("../imgs/selectBtn.png") no-repeat;
}

.condition_label{
	padding-top: 5px;
	font-weight: bold;
}

.conditionPanel{
	padding-top: 9px;
	padding-left: 12px;
}

.condition_combo{

}

/***************************************************************************/
#fxclr_yhrz_btn.x-unselectable{
    background: url("../imgs/fxclr.png") no-repeat;
}

#fxclr_yhrz_btn:hover{
    background: url("../imgs/fxclr.png") no-repeat;
}
#fxclr_yhrz_btn.x-btn-pressed{
    background: url("../imgs/fxclr.png") no-repeat;
}
/***************************************************************************/


