.navTitle .x-panel-body{
    background: url("../imgs/titlebg.png") repeat-x;
}

.navTitle .x-unselectable .x-btn-inner{
    color: #fff;
}

.navTitle .x-btn-pressed .x-btn-inner{
    color: #297fb8;
}

.navTitle .x-btn.x-unselectable{
    background: url("../imgs/unselectBtn.png") no-repeat;
}

.navTitle .x-btn.x-btn-pressed{
    background: url("../imgs/selectBtn.png") no-repeat;
}

.condition_label{
	padding-top: 5px;
	font-weight: bold;
}

.conditionPanel{
	padding-top: 9px;
	padding-left: 12px;
}

.condition_combo{

}

/***************************************************************************/
#rzsj_yhrz_btn.x-unselectable{
    background: url("../imgs/glxtrz_normal.png") no-repeat;
}

#rzsj_yhrz_btn:hover{
    background: url("../imgs/glxtrz_hot.png") no-repeat;
}
#rzsj_yhrz_btn.x-btn-pressed{
    background: url("../imgs/glxtrz_click.png") no-repeat;
}
/***************************************************************************/
#rzsj_glrz_btn.x-unselectable{
    background: url("../imgs/cjgzzrz_normal.png") no-repeat;
}

#rzsj_glrz_btn:hover{
    background: url("../imgs/cjgzzrz_hot.png") no-repeat;
}
#rzsj_glrz_btn.x-btn-pressed{
    background: url("../imgs/cjgzzrz_click.png") no-repeat;
}
/***************************************************************************/
#rzsj_zfjly_btn.x-unselectable{
    background: url("../imgs/zfjlyrz_normal.png") no-repeat;
}

#rzsj_zfjly_btn:hover{
    background: url("../imgs/zfjlyrz_hot.png") no-repeat;
}
#rzsj_zfjly_btn.x-btn-pressed{
    background: url("../imgs/zfjlyrz_click.png") no-repeat;
}
/***************************************************************************/
