.navTitle .x-panel-body {
    background: url("../imgs/titlebg.png") repeat-x;
}

.navTitle .x-unselectable .x-btn-inner {
    color: #fff;
}

.navTitle .x-btn-pressed .x-btn-inner {
    color: #297fb8;
}

/*.navTitle .x-btn.x-unselectable{
    background: url("../imgs/unselectBtn.png") no-repeat;
}

.navTitle .x-btn.x-btn-pressed{
    background: url("../imgs/selectBtn.png") no-repeat;
}*/

.condition_label {
    padding-top: 5px;
    font-weight: bold;
}

.conditionPanel {
    padding-top: 9px;
    padding-left: 12px;
}

.condition_combo {

}

/***************************************************************************/
#mjwq_mjwq_btn.x-unselectable {
    background: url("../imgs/mjwqBtn1.png") no-repeat;
}

#mjwq_mjwq_btn:hover {
    background: url("../imgs/mjwqBtn2.png") no-repeat;
}

#mjwq_mjwq_btn.x-btn-pressed {
    background: url("../imgs/mjwqBtn3.png") no-repeat;
}

/***************************************************************************/
#mjwq_spxx_btn.x-unselectable {
    background: url("../imgs/title_page.png") no-repeat;
}

#zfjd_spxx_btn:hover {
    background: url("../imgs/title_page.png") no-repeat;
}

#mjwq_spxx_btn.x-btn-pressed {
    background: url("../imgs/title_page.png") no-repeat;
}

/***************************************************************************/
#mjwq_xzwj_btn.x-unselectable {
    background: url("../imgs/downloadNormal.png") no-repeat;
}

#mjwq_xzwj_btn:hover {
    background: url("../imgs/downloadNormal.png") no-repeat;
}

#mjwq_xzwj_btn.x-btn-pressed {
    background: url("../imgs/downloadNormal.png") no-repeat;
}

/***************************************************************************/
.actionText {
    text-decoration: none;
}

#mjwq_rccc_grid .x-grid-cell {
    vertical-align: middle;
}

#mjwq_cksp_west {
    border-right: 1px solid #000000 !important
}

.mjwq_pupowindow_jbxx, .mjwq_pupowindow_glsj {
    background-color: #C0C0C0;
    display: block;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 222px;
}

#mjwq_pjdf_north .x-toolbar-footer {
    background: none !important
}

.disablePlay {
    cursor: default;
    color: #ccc;
    text-decoration: none;
}

.mjwq_cksp_kzxx_displayfield .x-form-display-field {
    height: 18px;
    overflow: hidden
}

#mjwq_pupowindow_xzsp{
    width: 300px;
    height: 26px;
    margin: 8px;
    font-size: 14px;
    font:-webkit-small-control;
}
