.navTitle .x-panel-body{
    background: url("../imgs/titlebg.png") repeat-x;
}

.navTitle .x-unselectable .x-btn-inner{
    color: #fff;
}

.navTitle .x-btn-pressed .x-btn-inner{
    color: #297fb8;
}

.navTitle .x-btn.x-unselectable{
    background: url("../imgs/unselectBtn.png") no-repeat;
}

.navTitle .x-btn.x-btn-pressed{
    background: url("../imgs/selectBtn.png") no-repeat;
}

.condition_label{
	padding-top: 5px;
	font-weight: bold;
}

.conditionPanel{
	padding-top: 9px;
	padding-left: 12px;
}

.condition_combo{

}

/***************************************************************************/
#xtgl_bmgl_btn.x-unselectable{
    background: url("../imgs/bmglBtn1.png") no-repeat;
}

#xtgl_bmgl_btn:hover{
    background: url("../imgs/bmglBtn2.png") no-repeat;
}
#xtgl_bmgl_btn.x-btn-pressed{
    background: url("../imgs/bmglBtn3.png") no-repeat;
}
/***************************************************************************/
#xtgl_yhgl_btn.x-unselectable{
    background: url("../imgs/yhglBtn1.png") no-repeat;
}

#xtgl_yhgl_btn:hover{
    background: url("../imgs/yhglBtn2.png") no-repeat;
}
#xtgl_yhgl_btn.x-btn-pressed{
    background: url("../imgs/yhglBtn3.png") no-repeat;
}
/***************************************************************************/
#xtgl_zfjlygl_btn.x-unselectable{
    background: url("../imgs/zfjlyglBtn1.png") no-repeat;
}

#xtgl_zfjlygl_btn:hover{
    background: url("../imgs/zfjlyglBtn2.png") no-repeat;
}
#xtgl_zfjlygl_btn.x-btn-pressed{
    background: url("../imgs/zfjlyglBtn3.png") no-repeat;
}
/***************************************************************************/
#xtgl_cjzzzgl_btn.x-unselectable{
    background: url("../imgs/cjgzzglBtn1.png") no-repeat;
}

#xtgl_cjzzzgl_btn:hover{
    background: url("../imgs/cjgzzglBtn2.png") no-repeat;
}
#xtgl_cjzzzgl_btn.x-btn-pressed{
    background: url("../imgs/cjgzzglBtn3.png") no-repeat;
}
/***************************************************************************/
#xtgl_jsgl_btn.x-unselectable{
    background: url("../imgs/jsglbtn_normal.png") no-repeat;
}

#xtgl_jsgl_btn:hover{
    background: url("../imgs/jsglbtn_hot.png") no-repeat;
}
#xtgl_jsgl_btn.x-btn-pressed{
    background: url("../imgs/jsglbtn_click.png") no-repeat;
}
/***************************************************************************/

#xtgl_zxwjgl_btn.x-unselectable{
    background: url("../imgs/ccfwqglBtn1.png") no-repeat;
}

#xtgl_zxwjgl_btn:hover{
    background: url("../imgs/ccfwqglBtn2.png") no-repeat;
}
#xtgl_zxwjgl_btn.x-btn-pressed{
    background: url("../imgs/ccfwqglBtn3.png") no-repeat;
}
/***************************************************************************/

/*公共样式**/
.xtgl_yhgl_tree .x-panel-header-default-horizontal-noborder{
    padding: 6px;
    background: #236fa1;
    border-left: 1px solid #000 !important;
    border-top: 1px solid #000 !important;

}
#YhglAddUserWindow .x-toolbar-footer,#YhglEditUserWindow .x-toolbar-footer,#YhglScopeUserWindow .x-toolbar-footer {
    background: none !important
}
.xtgl_yhgl_tree .x-panel-header-default-horizontal-noborder span{
    font-weight: 100;
}
.x-toolbar-footer{
    background: none !important
}
#zxwj_assign_window .x-toolbar-footer {
    background: none !important
}

.xtgl_jsgl_tree .x-panel-header,#xtgl_jsgl_qxsz .x-panel-header{
    background: #236fa1;
}

#xtgl_jsgl_jslb .x-column-header {
    border-right-width: 0px;
    background: #236fa1;
}

#xtgl_jsgl_qxsz .x-panel-header {
    border-right-width: 0px;
    background: #236fa1;
}

#xtgl_jsgl_qxsz .x-header-text{
    color: #FFFFFF;
    font-family: helvetica,arial,verdana,sans-serif;
    font-weight: normal;
    text-transform: none;
}

#jsgl_qxsz_save {
    position:fixed !important;
    right: 30px;
    bottom:20px;
}

.xtgl_jsgl_cbdiabled_cls{
     color:#ccc;
 }

.xtgl_jsgl_cbenabled_cls{
    color:#000;
}

#panel_qxsz_title .x-panel-header-text-container-default
{
    color: #FFFFFF;
    font-family: arial,helvetica,verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    text-transform: none;
}

/***************************************************************************/
.disablePlay {
    cursor: default;
    color: #ccc;
    text-decoration: none;
}
.actionText {
    text-decoration: none;
}
.hideText {
    display: none;
}
/*用户管理左边树行高*/
#xtgl_yhgl_tree .x-grid-cell-inner.x-grid-cell-inner-treecolumn{
    height: 34px;
    line-height: 26px;
}
#xtgl_yhgl_tree .x-grid-cell-inner.x-grid-cell-inner-treecolumn img{
    margin-top: 0px;

}

.x-form-itemselector-add {
    background-image: url("../imgs/right2.gif");
}
.x-form-itemselector-remove {
    background-image: url("../imgs/left2.gif");
}

.x-text-readonly{
    background:#E6E6E6;color:#0B66B0;cursor:default;
}

/*工作站管理和服务器管理，字体变色*/
/*.line_status_cls1{
    color: #999;
}
.line_status_cls2{
    color: #999;
}*/

/*部门管理*/
.xtgl_bmyhgl_gridcls .x-column-header, .xtgl_bmyhgl_gridcls .x-column-header-open, .xtgl_bmyhgl_gridcls .x-column-header-over, .xtgl_bmyhgl_gridcls .x-column-header-open .x-column-header-trigger{
    background-color: #236fa1;
    color: #fff;
    font-weight: normal;
    border-right: 1px solid #000;

}

.theirs.xtgl_bmyhgl_gridcls .x-column-header-over{
    border-right: 0px;
}

.xtgl_bmyhgl_gridcls .x-column-header{
    line-height: 16px;
    height: 28px;
}

.xtgl_bmyhgl_gridcls .x-grid-header-ct{
    border: 1px solid #000;
}

.xtgl_bmyhgl_gridcls .x-grid-body{
    border: 1px solid #ccc;
}
.xtgl_bmyhgl_gridcls .x-toolbar-default{
    background-color: #f2f9ff;
}

.xtgl_bmyhgl_gridcls .x-toolbar-text{
    color: #000;
}

.xtgl_bmyhgl_gridcls .x-grid-cell{
    padding: 4px;
}
/*采集工作站修改弹窗 单位（*）样式*/
.xtgl_ssdw_font{
    font-family: "Arial";
}