.share_OrgSelectBtn.x-unselectable{
    background:url(../imgs/combobox_new.png);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}

.share_OrgSelectBtn .x-btn-inner{
    color: #000;
    font-weight: normal;
    text-align: left;
}

.share_OrgSelectBtn:hover{
    background:url(../imgs/combobox_new_hover.png);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}

.share_DateSelect .x-form-date-trigger{
    background: url("../imgs/date_dropdown.png") no-repeat;
}

.share_DateSelect .x-form-text{
    background:url(../imgs/date_body.png);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    text-align: left;
}

.editGrid .x-column-header, .editGrid .x-column-header-open, .editGrid .x-column-header-over, .editGrid .x-column-header-open .x-column-header-trigger{
    background-color: #236fa1;
    color: #fff;
    font-weight: normal;
    border-right: 1px solid #000;
}
.editGrid .x-column-header-over{
    border-right: 0px;
}

.editGrid .x-grid-header-ct{
    border: 1px solid #000;
    background-color: #236fa1;
}


.editGrid .x-grid-body{
    border: 1px solid #ccc;
}
.editGrid .x-toolbar-default{
    background-color: #f2f9ff;
}

.editGrid .x-toolbar-text{
    color: #000;
}

.editGrid .x-grid-cell{
    padding: 4px;
}

.Share_OrgTree .x-grid-row-over .x-grid-td{
    cursor: pointer;
    background: none;
}

.tree_org_0, .x-grid-tree-node-expanded .tree_org_0{
    background-image: url(../imgs/org_0.png);
}

.tree_org_1, .x-grid-tree-node-expanded .tree_org_1{
    background-image: url(../imgs/org_1.png);
}

.tree_org_2, .x-grid-tree-node-expanded .tree_org_2{
     background-image: url(../imgs/org_2.png);
 }

.tree_user, .x-grid-tree-node-expanded .tree_user{
    background-image: url(../imgs/user.png);
}

/*
.share_Combobox .x-form-trigger-wrap{
    border: none;
}
.share_Combobox .x-form-trigger-input-cell .x-form-field{
    background:url(../imgs/combobox2_new.png);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    cursor: pointer;
}

.share_Combobox .x-form-trigger-input-cell .x-form-field.x-form-focus{
    background:url(../imgs/combobox2_new_hover.png);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    cursor: pointer;
}
.share_Combobox .x-form-trigger{
    border: none;
    background:url(../imgs/combobox2_bg_down.png);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}

.share_Combobox .x-form-trigger-wrap-focus .x-form-trigger{
    background:url(../imgs/combobox2_hover_down.png);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}*/
